<body class="bg-gray-50">
  <div class="flex-col ">
    <h1 class="pt-8 pb-2 text-center text-xl font-bold font-['Noto Sans JP'] text-dark-green">
      Sauna Leaves 利用規約
    </h1>
    <div class="w-[70px] h-px bg-light-green mx-auto">
    </div>
    <div class="pt-2 text-center text-light-green text-xs md:text-base font-['Noto Sans'] tracking-wide">
      TERMS OF SERVICE
    </div>
  </div>

  <div class="px-4 pt-8 font-['Noto Sans JP'] text-dark-green">
    <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.   みんなで楽しくハッピーに過ごそうね。   みんなで楽しくハッピーに過ごそうね。   みんなで楽しくハッピーに過ごそうね。  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  
    <%# TODO:文書記入 %>
  
  
    <p class="pt-8 text-sm">【2024年xx月xx日制定】</p>
  </div>
</body>
