<%# TODO:文末の制定日の日付を記入する %>

<body class="bg-gray-50">
  <div class="flex-col ">
    <h1 class="pt-8 pb-2 text-center text-xl font-bold font-['Noto Sans JP'] text-dark-green">
      Sauna Leaves 利用規約
    </h1>
    <div class="w-[70px] h-px bg-light-green mx-auto">
    </div>
    <div class="pt-2 text-center text-light-green text-xs md:text-base font-['Noto Sans'] tracking-wide">
      TERMS OF SERVICE
    </div>
  </div>

  <div class="px-4 pt-8 font-['Noto Sans JP'] text-dark-green">
    <p class="text-base leading-relaxed tracking-wide">この利用規約（以下、「本規約」といいます。）は、Sauna Leavesが提供するサービス（以下、「本サービス」といいます。）の利用条件を定めるものです。ユーザーの皆さま（以下、「ユーザー」といいます。）には、本規約に従って、本サービスをご利用いただきます。</p>
    <div class="mt-12 mb-2 text-base font-bold">
      第1条（適用）
    </div>
    <p class="text-base leading-relaxed tracking-wide">本規約は、ユーザーとSauna Leavesとの間の本サービスの利用に関わる一切の関係に適用されるものとします。<br/>Sauna Leavesは本サービスに関し、本規約のほか、ご利用にあたってのルール等、各種の定め（以下、「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず、本規約の一部を構成するものとします。<br/>本規約の規定が前条の個別規定の規定と矛盾する場合には、個別規定において特段の定めなき限り、個別規定の規定が優先されるものとします。</p>
    <div class="mt-12 mb-2 text-base font-bold">
      第2条（サービスの利用申し込み）
    </div>
    <p class="text-base leading-relaxed tracking-wide">本サービスにおいては、ユーザーが本規約に同意の上、Sauna Leavesの定める方法によってサービスの利用をお申し込み、Sauna Leavesがこれを承認することによってサービスの利用が成立するものとします。<br/>Sauna Leavesは、ユーザーに以下の事由があると判断した場合、利用の申し込みを承認しないことがあり、その理由については一切の開示義務を負わないものとします。<br/><br/>- 利用登録の申請に際して虚偽の事項を届け出た場合<br/>- 本規約に違反したことがある者からの申請である場合<br/>- その他、Sauna Leavesが利用登録を相当でないと判断した場合</p>
    <div class="mt-12 mb-2 text-base font-bold">
      第3条（レンタルサービス）
    </div>
    <p class="text-base leading-relaxed tracking-wide">Sauna Leavesはユーザーに対し、所有の物品を賃貸し、ユーザーはこれを賃借します。</p>
    <div class="mt-12 mb-2 text-base font-bold">
      第4条（利用料金および支払方法）
    </div>
    <p class="text-base leading-relaxed tracking-wide">ユーザーは、本サービスの対価として、Sauna Leavesが定め、ユーザーに提示した利用料金を、Sauna Leavesが指定する方法により支払うものとします。<br/>ユーザーが利用料金の支払を遅滞した場合には、ユーザーは年14.6%の割合による遅延損害金を支払うものとします。</p>
    <div class="mt-12 mb-2 text-base font-bold">
      第5条（レンタルサービスに関する担保責任の範囲）
    </div>
    <p class="text-base leading-relaxed tracking-wide">1. ユーザーの責に帰さない事由によりレンタル期間中に商品に欠陥が生じ、商品が正常に作動しなくなった場合、当社は、速やかに商品を交換します。<br/>2. Sauna Leavesに代替商品が無い場合又は交換に多大な費用又は時間を要する場合は、当社は商品のレンタル料をご返金しレンタル契約を解除させていただくことがあります。<br/>3. 前2項の場合において、Sauna Leavesは、Sauna Leavesに故意又は重大な過失がある場合を除き、ユーザーに対してレンタル料の返還以外の損害賠償の責任は負いません。本項に基づいてSauna Leavesが責任を負う場合、その損害の範囲は現実に生じた直接の損害に限ります。</p>
    <div class="mt-12 mb-2 text-base font-bold">
      第6条（レンタル物品の使用、保管）
    </div>
    <p class="text-base leading-relaxed tracking-wide">1. ユーザーは、商品をできるだけ汚したり壊したりしないように使用し保管することに努めなければなりません。<br/>2. ユーザーは、商品を第三者に使用させたり、譲渡、質入、転貸等をしたりすることはできません。<br/>3. ユーザーは、商品を改装、改造することはできません。<br/>4. ユーザーは、商品が到着し次第、商品の形状、数量に関してチェックし、その時点で破損や不足など何らかの問題を発見した場合、Sauna Leavesに直ちに連絡をするものとします。問題の連絡を受けたときは、Sauna Leavesは、代品または不足分の送付を速やかに行います。なお、この場合第5条を準用するとともに、到着時のこれらの問題に関して、レンタル期間の開始日の翌日以降のご連絡は受け付け致しません。<br/>5. ユーザーは、商品を使用される前にその使用方法を確認し使用を開始しするものとします。</p>
    <div class="mt-12 mb-2 text-base font-bold">
      第7条（レンタルサービスの利用義務違反）
    </div>
    <p class="text-base leading-relaxed tracking-wide">1. 商品がユーザーの責に帰すべき事由により紛失、損傷した場合、又はユーザーがSauna Leavesの商品に対する所有権を侵害した場合は、ユーザーは、Sauna Leavesに対し、商品の再購入代金、修理代金、他ユーザーへのレンタル不履行の損害等Sauna Leavesが被った一切の損害を賠償していただきます。<br/>2. 商品が盗難にあった場合は、Sauna Leavesへ直ちに連絡をするとともに、警察に被害届を提出し、Sauna Leavesに受理番号を報告いただければ、賠償の責任が免除される場合があります。</p>
    <div class="mt-12 mb-2 text-base font-bold">
      第8条（レンタル物品の返却）
    </div>
    <p class="text-base leading-relaxed tracking-wide">1. ユーザーは、商品をレンタル期間満了日までにSauna Leavesの指定する運送業者より発送完了するものとします。なお、ご返却の梱包は原則として発送時の荷姿でご返却ください。それ以外の荷姿の場合は追加料金が発生する場合がございます。<br/>2. ユーザーは、商品をレンタル開始時と同様の状態で返却するものとします。ユーザーの故意又は明らかな不注意による汚れや破損と判断されるものがあった場合、Sauna Leavesは別途ユーザーに修繕・整備料または使用不能となった商品の再購入代金を請求することができるものとします。<br/>3. ユーザーがレンタル期間満了日を過ぎてもSauna Leavesに商品を返却しなかったときは、Sauna Leavesが商品の返却を受けるまでの間、ユーザーには遅延金として、1日あたりレンタル料金の日割金額の倍額をお支払いいただきます。返却の見込みがないとSauna Leavesが判断した場合は、別途商品再購入価格をお支払いいただきます。また、当該商品の次の予約のユーザーに貸出ができないなど、ユーザーによる返却がなかったことによりSauna Leavesが損害を被った場合には、その損害の賠償を請求させていただきます。</p>
    <div class="mt-12 mb-2 text-base font-bold">
      第9条（レンタル物品返却時の一部欠品）
    </div>
    <p class="text-base leading-relaxed tracking-wide">1. 商品の返却時には、レンタルした商品のセット内容のすべてを揃えてご返却ください。商品の一部（付属備品を含む）が返却されなかった場合、そのセットのすべての返却をSauna Leavesが受けるまで、セット内容すべてについて第8条第3項の延滞金をお支払いいただきます。また、一部欠品によってその商品の次の予約のユーザーに貸出ができないときをはじめ、Sauna Leavesが損害を被った場合には、その損害の賠償を請求させていただきます。<br/>2. 前項の場合の、セット内容の一部の返却に要する配送料はユーザー負担となります。<br/>3. レンタルした商品の一部をユーザーが紛失された場合のほか、返却の見込みがないとSauna Leavesが判断した場合、商品の再購入価格をお支払いいただきます。</p>
    <div class="mt-12 mb-2 text-base font-bold">
      第10条（レンタル期間の延長）
    </div>
    <p class="text-base leading-relaxed tracking-wide">1. レンタル期間の延長をご希望される場合、レンタル期間満了日の正午までにSauna Leavesの指定する方法（電子メール）にてお申し出いただき、Sauna Leavesがこれを承諾した場合に限り、レンタル期間を延長することができます。ただし、当該商品につき別のユーザーから予約が入っている場合等にはレンタル期間を延長することはできません。<br/>2. 延長不可の連絡があった場合、ユーザーは商品をレンタル期間満了日に速やかに返却をするものと致します。返却が遅れることで他のユーザーへの貸し出しが出来ず、Sauna Leavesが不利益を被った場合、その損害分を請求させていただきます。<br/>3. 第1項に基づきレンタル期間を延長する場合、Sauna Leavesが商品ごとに定める所定の延長料金をお支払いいただきます。なお、ご連絡なく延長された場合やご連絡を事後に行った場合は、無断延長として扱い、延長1日につき延滞金として第8条第3項に定める金額をご請求させていただきます。</p>
    <div class="mt-12 mb-2 text-base font-bold">
      第11条（不可抗力によるレンタル不履行）
    </div>
    <p class="text-base leading-relaxed tracking-wide">Sauna Leavesがユーザーに対しレンタル開始日までに天災、地変、火災、戦争、内乱、その他不可抗力（Sauna Leavesの責によらないものに限る。）により商品の引き渡しを完了できないときは、その事由の継続する期間に限り、Sauna Leavesは遅滞の責を負わないものとします。</p>
    <div class="mt-12 mb-2 text-base font-bold">
      第12条（レンタルに関するユーザーの損害について）
    </div>
    <p class="text-base leading-relaxed tracking-wide">レンタル契約の履行にあたって、Sauna Leavesの責めに帰す事由によりユーザーに損害が生じた場合は、Sauna Leavesは、ユーザーに現実に生じた直接の損害につき、レンタル料を上限として賠償責任を負います。これを超える範囲の損害及び以下の損害については、Sauna Leavesは一切の責任を負いません。ただし、第7条第3項に基づく損害賠償についてはこの限りではありません。</p>
    <div class="mt-12 mb-2 text-base font-bold">
      第13条（準拠法）
    </div>
    <p class="text-base leading-relaxed tracking-wide">本規約の解釈にあたっては、日本法を準拠法とします。<br/>本サービスに関して紛争が生じた場合には、Sauna Leavesの本店所在地を管轄する裁判所を専属的合意管轄とします。</p>
    <div class="mt-12 mb-2 text-base font-bold">
      第14条（規約違反及び違法行為への対応）
    </div>
    <p class="text-base leading-relaxed tracking-wide">1. ユーザーが本規約に違反したときは、Sauna Leavesは何らの催告も要さず、直ちにレンタル契約を解除することがあります。この場合ユーザーはSauna Leavesの被った損害について賠償する責任を負います。<br/>2. 前項のほか、商品の返却をご連絡なく延滞され、ご連絡がつかないまま2週間を経過しても商品が返却されない場合や、お申し込みないように虚偽の住所・身分・連絡先等を記載した場合又は電話の不通などが発生した場合等は、法的手続きを含む必要な措置を取ります。</p>
    <div class="mt-12 mb-2 text-base font-bold">
      第15条（Sauna Leavesからユーザーへの通知及び連絡）
    </div>
    <p class="text-base leading-relaxed tracking-wide">Sauna Leavesからユーザーに対する通知や連絡は、原則として当該通知または連絡をSauna Leavesがユーザーに送信してから通常到達までに必要な日数をもって到達したものとみなします</p>
    <div class="mt-12 mb-2 text-base font-bold">
      第16条（本規約の変更・追加・削除）
    </div>
    <p class="text-base leading-relaxed tracking-wide">1. Sauna Leavesは、ユーザーに事前に通知なしに、本規約及び本規約に付随する規約の全部又は一部を任意に変更・追加・削除することができます。また、必要に応じて新たな規約等を追加できます。<br/>2. Sauna Leavesは、本規約の変更・追加・削除を、Sauna Leavesウェブサイトへの掲示その他Sauna Leavesが妥当と判断する方法によるユーザーへの通知をもって行うことができ、郵送・電子メールその他の方法で通知する義務を負いません。<br/>3. 規約の変更・追加は、Sauna Leavesウェブサイト上に掲載した時点より効力が発生します。<br/>4. Sauna Leavesは、本規約の変更・追加によりユーザーが被った損害につき、Sauna Leavesに故意又は重大な過失がある場合を除き、直接的・間接的に関わらず、一切の責任を負いません。<br/>5. Sauna Leavesは、Sauna Leavesからの通知・連絡が届かない場合や遅延した場合に生じる損害について、一切の責任を負いません。</p>
    <p class="pt-4 text-base leading-relaxed tracking-wide">以上</p>
    <p class="pt-8 text-base">【2024年xx月xx日制定】</p>
  </div>
</body>
