<%# TODO:文末のURLを入れる %>
<%# TODO:登記後に住所等の正式情報が必要になる %>

<body class="bg-gray-50">
  <div class="flex-col ">
    <h1 class="pt-8 pb-2 text-center text-xl font-bold font-['Noto Sans JP'] text-dark-green">
      特定商取引法に基づく表記
    </h1>
    <div class="w-[80px] h-px bg-light-green mx-auto">
    </div>
    <div class="pt-2 text-center text-light-green text-xs md:text-base font-['Noto Sans'] tracking-normal">
      SPECIFIED COMMERCIAL TRANSACTION ACT
    </div>
  </div>

  <div class="px-4 py-8 font-['Noto Sans JP'] text-dark-green text-sm md:text-base leading-relaxed md:tracking-wide">
    <div class="grid grid-cols-3 gap-3">
      
        <p class="font-bold grid-item col-span-1">サービス名</p>
        <p class="font-normal font-['Noto Sans'] grid-item col-span-2">Sauna Leaves</p>
       
        <p class="font-bold  grid-item col-span-1">責任者</p>
        <p class="grid-item col-span-2">岩本 悠汰</p>
      
        <p class="font-bold grid-item col-span-1">お問い合わせ</p>
        <p class="font-['Noto Sans'] grid-item col-span-2">tentsauna.product@gmail.com</p>
      
        <p class="font-bold grid-item col-span-1">サービス及び販売の価格</p>
        <p class="font-['Noto Sans JP'] grid-item col-span-2">
          商品のレンタル及び販売価格は、各申込ページに記載しています。
        </p>
      
        <p class="font-bold grid-item col-span-1">商品代金以外の料金の説明</p>
        <p class="font-['Noto Sans JP'] grid-item col-span-2">消費税、配送料</p>

        <p class="font-bold grid-item col-span-1">引渡し時期</p>
        <p class="font-['Noto Sans JP'] grid-item col-span-2">ご希望のお届け日を元に配送業者と調整の上、お届けいたします。 最短でご注文日の1週間後から選択が可能です。</p>

        <p class="font-bold grid-item col-span-1">お支払い方法</p>
        <p class="font-['Noto Sans JP'] grid-item col-span-2">クレジットカード決済のみとなります。</p>

        <p class="font-bold grid-item col-span-1">不良品</p>
        <p class="font-['Noto Sans JP'] grid-item col-span-2">
          製品到着後24時間以内にご連絡ください。<br/>
          製品に欠陥があり、上記期間内に当社へご連絡をいただいた場合、レンタル料金の返金又は代替品の送付等の対応を行います。<br/>
        </p>

        <p class="font-bold grid-item col-span-1">販売数量の制限</p>
        <p class="font-['Noto Sans JP'] grid-item col-span-2">制限はございません。お一人様何点でもご利用可能です。</p>

        <p class="font-bold grid-item col-span-1">ウェブサイトURL</p>
        <p class="font-['Noto Sans'] grid-item col-span-2"><--URL--></p>

    </div>
  </div>
</body>
