<body bgcolor="#F1EEE7">
	<div class="p-6 md:mx-auto text-center">
		<p class="md:text-2xl text-base text-gray-800 font-semibold">Are you sure?</p>
		<p class="text-gray-600 my-2">If you withdraw from TentSauna, you will no longer be able to log in with this account.</p>
		<div class="flex justify-center items-center space-x-4">
			<div class="text-center py-8">
				<%= link_to withdraw_customers_path, data: { "turbo-method": :patch }, class: "px-5 py-2.5 focus:outline-none text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-md shadow" do %>
					Withdraw
				<% end %>
			</div>
			<div class="text-center py-8">
				<%= link_to edit_customer_registration_path, class: "px-5 py-2.5 text-gray-800 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-md shadow" do %>
					Cancel
				<% end %>
			</div>
		</div>
	</div>
</body>
